// defaults config
//
// 참고:
//   - note 1: px 단위
//   - note 2: KB 단위
//   - note 3: yes/no, true/false, on/off 사용
//

// 표지 이미지의 최소 허용 크기(note 1)
cover_image_min_width: 560
cover_image_min_height: 800

// 표지 이미지의 권장 크기(note 1)
cover_image_recommend_width: 1120
cover_image_recommend_height: 1600

// 본문 이미지의 최대 허용 크기(note 1)
content_image_max_width: 1080
content_image_max_height: 1600

// 이미지 파일의 최대 허용 크기(note 2)
image_file_max_size: 5000

// 본문 파일의 최대 허용 크기(note 2)
html_file_max_size: 300

// 본문 파일의 권장 크기(note 2)
html_file_recommend_file_size: 150

// HTML element 하나가 허용할 수 있는 자식의 수
child_nodes_limit: 250 

// 메시지에 코드 아이디를 표시할지(note 3)
display_code_id: no

// ignore_code_list를 사용할지(note 3)
ignore_code_list_use: yes
